@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: "Source Sans 3", sans-serif; */
}
body{
    font-family: "Poppins", sans-serif;

}
nav{
    padding: 10px 80px;
    /* display: flex; */
    background-color: black;
}
hr{
    height: 1px;
}
.navbar{
    display: flex;
    align-items: center;
    /* gap: 120px; */
    justify-content: space-between;
}
.navbar img{
    width: 150px;
    height: 40px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-links a{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.nav-input{
    position: relative;
}

.nav-input input{
    border: 1px solid #e40084;
    width: 300px;
    height: 35px;
    padding: 10px 40px;
    border-radius: 10px;
    background: inherit;
    outline: none;
    color: white;
    font-size: 13px;
}
.nav-input input::placeholder{
    color: #e5e7eb;
    font-family: 14px; 
}
.nav-input img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    bottom: 5px;
    right: 20px;
    left: 10px;
}
.nav-button{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-button a{
    color: #e40084;
    font-size: 20px;
    font-weight: 400;
}
.nav-button button{
    color: white;
    background-color: #e40084;
    font-size: 20px;
    height: 40px;
    width: 149px;
    border-radius:8px;
    font-weight: 400;
    border: none;
}
.nav-button button:hover{
    background-color: #ffba0e;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 80px;
    background-color: black;
}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-left h2{
    color: #ffba0e;
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
    height: 240px;
    width: 680px;
}
.hero-left p{
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    width: 681.05px;
    height: 80px;
}
.hero-left button{
    background-color: #e40084;
    font-size: 18px;
    font-weight: 400;
    color: white;
    width: 160px;
    height: 47px;
    border-radius: 8px;
    border: none;
}
.hero-left button:hover{
    background-color: #ffba0e;
}
.hero-right{
    width: 572px;
    height: 460px;
}
.hero-right img{
    width: 100%;
    height: 100%;
}
.section-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 1oopx;
    gap: 50px;
    background-color: black;
}
.section-cards-header{
    width: 965px;

}
.section-cards-header h1{
    font-size: 40px;
    line-height: 51px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.text-yellow{
    color: #ffba0e;
}
.text-red{
    color: #e40084;
}
.six-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    place-items: center;
    gap: 20px;
}
.card{
    background-color: white;
    border-radius: 35px;
    width: 350px;
    height: 350px;
    padding: 30px;
}
.card-content{
    display: flex;
    flex-direction: column;
    290pxgap: 16px;
}
.card-content h3{
    color: #202020;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}
.card-content p{
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    width: 290px;
    height: 168px;
}
.card-content img{
    width: 57px;
    height: auto;
}
.section-cards button{
    background-color: #e40084;
    width: 172px;
    height: 47px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
}
.section-cards button:hover{
    background-color: #ffba0e;
}
.best-time{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-top: 40px; */
    background-color: black;
    /* width: 1300px; */
    padding: 40px 100px;
    /* height: 225px; */
}
.best-time h2{
    text-align: center;
    color: #ffba0e;
    font-size: 40px;
    font-weight: 500;
}
.best-time-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    place-items: center;
}
.best-time-content{
    display: flex;
    align-items: center;
    gap: 14px;
    width: 313px;
    height: 123px;
}
.best-time-content-text{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.best-time-content-text h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.best-time-content-text p{
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 400px;
}